@font-face{
  font-family: 'fontOpen';
  src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}
@font-face{
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
html {
  width: 100vw;
  overflow-x: hidden;
}
body{
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 1440px;
  font-family: 'fontOpen';
}
.visuallyHidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button:hover,
a:hover,
input[type='submit'] {
  cursor: pointer;
}
a:hover{
  color: #cd6326;
}
button:focus,
input:focus{
  outline: none;
}


.headSection{
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 779px;
  background-color: #02160B;
  background-image: url('../assets/images/Hero.png');
}
header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
.logoBlock{
  width: auto;
  display: flex;
  align-items: center;
}
.logoBlock__image{
  position: relative;
  top: -1px;
}
.logoBlock__heading{
  margin: 0;
  font-size: 48pt;
  color: #cd6326;
}
.logoBlock__text{
  position: absolute;
  left: 85px;
  top: -5px;
  max-width: 0;
  font-size: 32px;
  text-transform: uppercase;
  color: #f7f7f7;
}
.navigationBlock{
  position: absolute;
  left: 680px;
  width: 520px;
}
.navigationBlock__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navigationBlock__link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  font-size: 23px;
  text-decoration: none;
}
.navigationBlock__link_text{
  line-height: 60px;
}
.navigationBlock__link_button{
  position: relative;
  top: -1px;
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
}
.navigationBlock__link_button:hover{
  background-color: #cd6326;
  border-color: #cd6326;
  color: #f7f7f7;
}
.navigationBlock__link_button:active{
  background-color: #8f5613;
  border-color: #8f5613;
  color: #f7f7f7;
}
.navigationBlock__searchImage:hover{
  filter: invert(45%) sepia(91%) saturate(555%) hue-rotate(340deg) brightness(84%) contrast(90%);
}

.survivalBlock{
  position: relative;
  width: 50%;
  top: 60px;
  left: 120px;
  display: flex;
  flex-direction: column;
}
.survivalBlock__heading{
  font-size: 48px;
  line-height: 72px; 
  letter-spacing: 2px;
  color: #cd6326;
  font-weight: 400;
}
.survivalBlock__text{
  position: relative;
  top: -8px;
  width: 274px;
  height: 108px;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.survivalBlock__button{
  position: relative;
  top: 36px;
  left: 34px;
  width: 76px;
  height: 27px;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  background-color: transparent;
  border-color: transparent;
}
.survivalBlock__button:hover{
  color:#cd6326; 
}

main{
  position: relative;
  width: 1440px;
  height: 1368px;
  background-color: #ccc;
}

.latestArticlesBlock{
  position: absolute;
  left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 640px;
}
.latestArticlesBlock__headingsBlock{
  position: absolute;
  top: 121px;
  left: 446px;
}
.latestArticlesBlock__heading{
  left: 558px; 
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px; 
  color: #333;
}
.latestArticlesBlock__subheader{
  position: relative;
  top: -4px;
  left: -5px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px; 
  color: #666;
}

.slider{
  position: absolute;
  top: 368px;
  left: -7px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 360px;
}
.slider__nextButton,
.slider__prevButton{
  position: relative;
  top: 147px;
  width: 32px;
  height: 70px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}
.slider__nextButton:hover,
.slider__prevButton:hover{
  filter: invert(45%) sepia(91%) saturate(555%) hue-rotate(340deg) brightness(84%) contrast(90%);
}
.slider__prevButton{
  background-image: url('../assets/images/Prev.svg');
  left: 6px;
  
}
.slider__nextButton{
  right: -8px;
  background-image: url('../assets/images/Next.svg');
}
.slider__slide{
  position: absolute;
  width: 300px;
  height: 360px;
}

.slider__slides{
  transform: none;
}
.slide1{
  left: 97px;
}
.slide2{
  left: 457px;
}
.slide3{
  left: 817px;
}
.noneSlide{
  display: none;
}
.slider__slide img{
  width: 100%;
  height: 100%;
  z-index: 10;
}
.slider__slideTextBlock{
  position: absolute;
  top: 247px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 100;
  color: #f7f7f7;
}
.slider__slideHeading{
  margin: 0;
  font-size: 22px;
  line-height: 36px;
}
.slider__slideParagraph{
  position: relative;
  top: -7px;
  font-size: 17px;
  line-height: 27px;
}

.getNotifiedSection{
  position: absolute;
  top: 941px;
  left: 120px;
  width: 1200px;
  margin: 0;
}
.getNotifiedSection__heading{
  text-align: center;
  font-size: 27px;
  line-height: 40px;
  color: #333;
}
.getNotifiedSection__form{
  position: relative;
  top: 32px;
  display: flex;
  width: 660px;
  margin: 0 auto;
}
.getNotifiedSection__input{
  position: relative;
  left: -1px;
  width: 540px;
  height: 58px;
  border: 1px solid #666;
  background-color: transparent;
  font-size: 23px;
  color: #666;
}
.getNotifiedSection__input::placeholder{
  position: relative;
  left: 12px;
  top: 2px;
  font-family: 'Roboto';
  font-size: 23px;
  color: #666;
}
.getNotifiedSection__button{
  position: absolute;
  left: 539px;
  width: 108px;
  height: 58px;
  box-sizing: content-box;
  font-size: 23px;
  color: #f7f7f7;
  background-color: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
}
.getNotifiedSection__button:hover{
  background-color: #e39128;
  border-color: #e39128;
}
.getNotifiedSection__button:active{
  background-color: #8f5613;
  border-color: #8f5613;
}

footer{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  height: 359px;
  background-color: #181617;
  background-image: url('../assets/images/Footer.png');
}
.footerNavigation{
  position: absolute;
  left: 480px;
  width: 476px;
}
.footerNavigation__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}
.footerNavigation__link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  font-size: 23px;
  text-decoration: none;
  line-height: 60px;
}
.socials{
  position: absolute;
  left: 1040px;
  top: 160px;
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0;
  list-style: none;
}
.socials__link img:hover{
  filter: invert(75%) sepia(71%) saturate(155%) hue-rotate(130deg) brightness(94%) contrast(100%);
}
footer .logoBlock{
  position: absolute;
  left: 120px;
  top: 128px;
}
footer .logoBlock__text{
  position: relative;
  left: 15px;
  top: -2px;
}
@media only screen and (max-width: 1439px) {
  body{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  }
  .headSection{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 65vh;
  }
  header{
    width: 88%;
    height: 100px;
  }

  .logoBlock{
    width: auto;
    display: flex;
    align-items: center;
  }
  .logoBlock__image{
    position: relative;
    top: -1px;
  }
  .logoBlock__text{
    position: absolute;
    width: auto;
    top: auto;
    font-size: 32px;
  }
  .navigationBlock{
    position: relative;
    left: auto;
    width: 480px;
  }
  .navigationBlock__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .navigationBlock__link{
    font-size: 23px;
  }
  .navigationBlock__link_text{
    line-height: 60px;
  }
  .navigationBlock__link_button{
    width: 120px;
    height: 50px;
  }
  .survivalBlock{
    position: relative;
    left: 60px;
  }
  .survivalBlock__heading{
    font-size: 42px;
    line-height: 60px; 
    letter-spacing: 1.5px;
  }
  .survivalBlock__text{
    width: 270px;
    height: 95px;
    font-size: 17px;
    line-height: 25px;
  }
  .survivalBlock__button{
    top: 30px;
    left: 30px;
    width: 70px;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
  }

  main{
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .latestArticlesBlock{
    position: relative;
    left: auto;
    margin: 0 auto;
    width: 95%;
    height: 65vh;
  }
  .latestArticlesBlock__headingsBlock{
    position: relative;
    top: 20px;
    left: auto;
  }
  .latestArticlesBlock__heading{
    left: auto; 
    margin: 0;
    font-size: 44px;
    line-height: 60px; 
  }
  .latestArticlesBlock__subheader{
    position: relative;
    top: auto;
    left: auto;
    font-size: 22px;
    line-height: 32px; 
  }
  .slider{
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 720px;
    height: 360px;
  }
  .slider__nextButton,
  .slider__prevButton{
    position: relative;
    top: auto;
    width: 32px;
    height: 65px;
  }
  .slider__prevButton{
    left: -10px;
  }
  .slider__nextButton{
    right: -10px;
  }
  .slider__slide{
    position: relative;
  }
  .slider__slidesWrapper{
    width: 700px;
    height: 360px;
    overflow: hidden;
  }
  .slider__slides{
    display: flex;
    justify-content: space-between;
    width: 650px;
  }
  .slide1{
    left: auto;
  }
  .slide2{
    left: auto;
  }
  .slide3{
    left: auto;
  }
  .slider__slideHeading{
    font-size: 20px;
    line-height: 30px;
  }
  .slider__slideParagraph{
    position: relative;
    top: -7px;
    font-size: 15px;
    line-height: 25px;
  }


  .getNotifiedSection{
    position: relative;
    top: 40px;
    left: auto;
    width: 85%;
    margin: 0 auto;
  }
  .getNotifiedSection__heading{
    font-size: 25px;
    line-height: 30px;
  }
  .getNotifiedSection__form{
    position: relative;
    top: auto;
    width: 660px;
  }
  .getNotifiedSection__input{
    position: relative;
    left: auto;
    width: 540px;
    height: 58px;
    font-size: 21px;
  }
  .getNotifiedSection__input::placeholder{
    position: relative;
    left: 12px;
    top: 2px;
    font-size: 21px;
  }
  .getNotifiedSection__button{
    left: 539px;
    width: 108px;
    height: 58px;
    font-size: 21px;
  }
  
  footer{
    position: relative;
    width: 100%;
    height: auto; 
  } 
  .footerNavigation{
    position: relative;
    left: 90px;
    width: 320px;
  }
  .footerNavigation__link{
    font-size: 18px;
    line-height: 40px;
  }
  .socials{
    position: relative;
    left: auto;
    top: auto;
    width: 240px;
  }
  footer .logoBlock{
    position: relative;
    left: 0px;
    top: auto;
  }
  footer .logoBlock__text{
    position: relative;
    left: 15px;
    top: -2px;
    font-size: 30px;
} 
@media only screen and (max-width: 900px){
  .headSection{
    height: 45vh;
  }
  .logoBlock__image{
    position: relative;
    top: -1px;
    width: 55px;
  }
  .logoBlock__text {
  position: relative;
  font-size: 28px;
  top: auto;
  left: 10%;
}
  .navigationBlock{
    position: relative;
    left: auto;
    width: 380px;
  }
  .navigationBlock__list{
    margin: 0;
  }
  .navigationBlock__link{
    font-size: 20px;
  }
  .navigationBlock__link_text{
    line-height: 40px;
  }
  .navigationBlock__link_button{
    width: 80px;
    height: 40px;
    border: 1px solid #cd6326;
    border-radius: 4px;
  }
  .survivalBlock{
    position: relative;
    left: 30px;
  }
  .survivalBlock__heading{
    margin: 0;
    font-size: 36px;
    line-height: 40px; 
    letter-spacing: 1.2px;
  }
  .survivalBlock__text{
    width: 200px;
    font-size: 14px;
    line-height: 18px;
  }
  .survivalBlock__button{
    top: 0px;
    left: 20px;
    width: 60px;
    height: 25px;
    font-size: 17px;
    line-height: 20px;
  }
  main{
    height: 90vh;
  }
  .latestArticlesBlock__headingsBlock{
    top: 10px;
  }
  .latestArticlesBlock__heading{
    font-size: 38px;
    line-height: 40px; 
  }
  .latestArticlesBlock__subheader{
    font-size: 18px;
    line-height: 25px; 
  }

  .slider{
    width: 350px;
  }
  .slider__nextButton,
  .slider__prevButton{
    position: relative;
    top: auto;
    width: 32px;
    height: 50px;
  }
  .slider__prevButton{
    left: -10px;
  }
  .slider__nextButton{
    right: -10px;
  }
  .slider__slide{
    position: relative;
  }
/* For slider check */
  .slider__slides{
    width: 330px;
  }

  .getNotifiedSection{
    top: 20px;
    width: 85%;
  }
  .getNotifiedSection__heading{
    font-size: 22px;
    line-height: 25px;
  }
  .getNotifiedSection__form{
    width: 580px;
  }
  .getNotifiedSection__input{
    width: 500px;
    height: 50px;
    font-size: 18px;
  }
  .getNotifiedSection__input::placeholder{
    position: relative;
    left: 12px;
    top: 2px;
    font-size: 18px;
  }
  .getNotifiedSection__button{
    left: 505px;
    width: 88px;
    height: 50px;
    font-size: 18px;
  }
  
  .footerNavigation{
    left: 70px;
    width: 240px;
  }
  .footerNavigation__link{
    font-size: 16px;
    line-height: 30px;
  }
  .socials{
    width: 180px;
  }
  footer .logoBlock__text{
    left: 5px;
    top: -2px;
    font-size: 26px;
} 
}

@media only screen and (max-width: 700px){
  .headSection{
    height: 30vh;
  }
  .logoBlock__image{
    position: relative;
    width: 40px;
  }
  .logoBlock__text{
    font-size: 22px;
  }
  .navigationBlock{
    width: 255px;
  }
  .navigationBlock__link{
    font-size: 15px;
  }
  .navigationBlock__link_text{
    line-height: 20px;
  }
  .navigationBlock__searchImage{
    width: 25px;
  }
  .navigationBlock__link_button{
    width: 60px;
    height: 25px;
    border-radius: 3px;
  }
  .survivalBlock{
    position: relative;
    left: 30px;
    top: -10px;
  }
  .survivalBlock__heading{
    font-size: 28px;
    line-height: 30px; 
    letter-spacing: 1.1px;
  }
  .survivalBlock__text{
    width: 160px;
    font-size: 12px;
    line-height: 14px;
  }
  .survivalBlock__button{
    top: -30px;
    left: 10px;
    width: 40px;
    height: 20px;
    font-size: 15px;
    line-height: 18px;
  }
  main{
    height: 85vh;
  }
  .latestArticlesBlock__headingsBlock{
    top: 0px;
  }
  .latestArticlesBlock__heading{
    font-size: 32px;
    line-height: 35px; 
  }
  .latestArticlesBlock__subheader{
    font-size: 15px;
    line-height: 20px; 
  }

  .getNotifiedSection{
    top: -5px;
    width: 95%;
  }
  .getNotifiedSection__heading{
    font-size: 20px;
    line-height: 22px;
  }
  .getNotifiedSection__form{
    width: 420px;
  }
  .getNotifiedSection__input{
    width: 350px;
    height: 40px;
    font-size: 15px;
  }
  .getNotifiedSection__input::placeholder{
    position: relative;
    left: 12px;
    top: 2px;
    font-size: 15px;
  }
  .getNotifiedSection__button{
    left: 355px;
    width: 55px;
    height: 40px;
    font-size: 15px;
  }
  
  footer{
    justify-content: space-between;
  }

  .footerNavigation{
    left: 50px;
    width: 190px;
  }
  .footerNavigation__link{
    font-size: 12px;
    line-height: 20px;
  }
  .socials{
    padding: 0;
    flex-wrap: wrap;
    width: 100px;
  }
  .socials__element{
    margin: 5px;
  }
  footer .logoBlock__text{
    left: 5px;
    top: -2px;
    font-size: 22px;
} 
}
@media only screen and (max-width: 450px){
  .headSection{
    height: 24vh;
  }
  .logoBlock__image{
    position: relative;
    width: 40px;
  }
  .logoBlock__text{
    visibility: hidden;
    clip: rect(0 0 0 0);
  }
  .navigationBlock__list{
    padding-left: 10px;
  }
  .survivalBlock__heading{
    font-size: 24px;
    line-height: 25px; 
    letter-spacing: 1px;
  }
  .survivalBlock__text{
    width: 140px;
    font-size: 11px;
    line-height: 12px;
  }
  .survivalBlock__button{
    top: -40px;
    left: -5px;
    width: 35px;
    height: 18px;
    font-size: 14px;
  }

  main{
    height: 80vh;
  }
  .latestArticlesBlock__heading{
    font-size: 26px;
    line-height: 28px; 
  }
  .latestArticlesBlock__subheader{
    font-size: 12px;
    line-height: 14px; 
  }
  .slider__prevButton{
    left: 0px;
  }
  .slider__nextButton{
    right: 9px;
  }
  .slider__slide img {
    width: 280px;
  }

  .getNotifiedSection{
    top: -5px;
  }
  .getNotifiedSection__heading{
    font-size: 16px;
    line-height: 18px;
  }
  .getNotifiedSection__form{
    width: 300px;
  }
  .getNotifiedSection__input{
    width: 220px;
    height: 30px;
    font-size: 12px;
  }
  .getNotifiedSection__input::placeholder{
    font-size: 12px;
  }
  .getNotifiedSection__button{
    left: 225px;
    width: 40px;
    height: 30px;
    font-size: 12px;
  }

  .footerNavigation{
    left: 0px;
    width: 180px;
  }
  .footerNavigation__link{
    font-size: 12px;
    line-height: 16px;
  }
}