@font-face{
  font-family: 'fontOpen';
  src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}
@font-face{
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'fontOpen';
}
.visuallyHidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button:hover,
a:hover,
input[type='submit'] {
  cursor: pointer;
}
a:hover{
  color: #cd6326;
}

.headSection{
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 779px;
  background-color: #02160B;
  background-image: url('../assets/images/Hero.png');
}
header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
.logoBlock{
  width: auto;
  display: flex;
  align-items: center;
}
.logoBlock__image{
  position: relative;
  top: -1px;
}
.logoBlock__heading{
  margin: 0;
  font-size: 48pt;
  color: #cd6326;
}
.logoBlock__text{
  position: absolute;
  left: 85px;
  top: -5px;
  max-width: 0;
  font-size: 32px;
  text-transform: uppercase;
  color: #f7f7f7;
}
.navigationBlock{
  position: absolute;
  left: 680px;
  width: 520px;
}
.navigationBlock__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navigationBlock__link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  font-size: 23px;
  text-decoration: none;
}
.navigationBlock__link_text{
  line-height: 60px;
}
.navigationBlock__link_button{
  position: relative;
  top: -1px;
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
}
.navigationBlock__link_button:hover{
  background-color: #cd6326;
  border-color: #cd6326;
  color: #f7f7f7;
}
.navigationBlock__link_button:active{
  background-color: #8f5613;
  border-color: #8f5613;
  color: #f7f7f7;
}

.survivalBlock{
  position: relative;
  top: 60px;
  left: 120px;
  display: flex;
  flex-direction: column;
}
.survivalBlock__heading{
  font-size: 48px;
  line-height: 72px; 
  letter-spacing: 2px;
  color: #cd6326;
  font-weight: 400;
}
.survivalBlock__text{
  position: relative;
  top: -8px;
  width: 274px;
  height: 108px;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.survivalBlock__button{
  position: relative;
  top: 36px;
  left: 34px;
  width: 76px;
  height: 27px;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  background-color: transparent;
  border-color: transparent;
}

main{
  position: absolute;
  left: 0px;
  top: 779px;
  width: 1440px;
  height: 1368px;
  background-color: #ccc;
}

.latestArticlesBlock{
  position: absolute;
  left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 640px;
}
.latestArticlesBlock__headingsBlock{
  position: absolute;
  top: 121px;
  left: 446px;
}
.latestArticlesBlock__heading{
  left: 558px; 
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px; 
  color: #333;
}
.latestArticlesBlock__subheader{
  position: relative;
  top: -4px;
  left: -5px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px; 
  color: #666;
}

.slider{
  position: absolute;
  top: 368px;
  left: -7px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 360px;
}
.slider__nextButton,
.slider__prevButton{
  position: relative;
  top: 147px;
  width: 32px;
  height: 70px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}
.slider__prevButton{
  background-image: url('../assets/images/Prev.svg');
  left: 6px;
  
}
.slider__nextButton{
  right: -8px;
  background-image: url('../assets/images/Next.svg');
}
.slider__slide{
  position: absolute;
  width: 300px;
  height: 360px;
}
.slide1{
  left: 97px;
}
.slide2{
  left: 457px;
}
.slide3{
  left: 817px;
}
.slider__slide img{
  width: 100%;
  height: 100%;
  z-index: 10;
}
.slider__slideTextBlock{
  position: absolute;
  top: 247px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 100;
  color: #f7f7f7;
}
.slider__slideHeading{
  margin: 0;
  font-size: 22px;
  line-height: 36px;
}
.slider__slideParagraph{
  position: relative;
  top: -7px;
  font-size: 17px;
  line-height: 27px;
}

.getNotifiedSection{
  position: absolute;
  top: 941px;
  width: 1200px;
  margin: 0;
}
.getNotifiedSection__heading{
  text-align: center;
  font-size: 27px;
  line-height: 40px;
  color: #333;
}
.getNotifiedSection__form{
  position: relative;
  top: 32px;
  display: flex;
  width: 660px;
  margin: 0 auto;
}
.getNotifiedSection__input{
  position: relative;
  left: -1px;
  width: 540px;
  height: 58px;
  border: 1px solid #666;
  background-color: transparent;
  font-size: 23px;
  color: #666;
}
.getNotifiedSection__input::placeholder{
  position: relative;
  left: 12px;
  top: 4px;
  font-family: 'Roboto';
  font-size: 23px;
  color: #666;
}
.getNotifiedSection__button{
  position: absolute;
  left: 539px;
  width: 108px;
  height: 58px;
  box-sizing: content-box;
  font-size: 23px;
  color: #f7f7f7;
  background-color: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
}
.getNotifiedSection__button:hover{
  background-color: #e39128;
  border-color: #e39128;
}
.getNotifiedSection__button:active{
  background-color: #8f5613;
  border-color: #8f5613;
}

footer{
  position: absolute;
  left: 0px;
  top: 2147px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  height: 359px;
  background-color: #181617;
  background-image: url('../assets/images/Footer.png');
}
.footerNavigation{
  position: absolute;
  left: 480px;
  width: 476px;
}
.footerNavigation__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}
.footerNavigation__link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  font-size: 23px;
  text-decoration: none;
  line-height: 60px;
}
.socials{
  position: absolute;
  left: 1040px;
  top: 160px;
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0;
  list-style: none;
}
footer .logoBlock{
  position: absolute;
  left: 120px;
  top: 128px;
}
footer .logoBlock__text{
  position: relative;
  left: 15px;
  top: -2px;
}